@using CareerCloud.UI.MVC.Models.CreateJob;
@model CompanyCreateJobVM

@{
    ViewBag.Title = "Create Job";
}

<style>
    a.no-link {
        text-decoration: none;
    }
</style>

<h2>Create Job</h2>
<h4>Company: @ViewBag.CompanyName</h4>

@using (Html.BeginForm("Create", "Home", FormMethod.Post, new { @class = "form-horizontal", @id = "formCreateJob" }))
{
    @Html.Partial("_CreateJobSkills")@*, Model.JobSkills)*@
    <br/>
    @Html.Partial("_CreateJobEducation")@*, Model.JobEducation)*@
    <br />

    <input class="btn btn-default" type="submit" onsubmit="return false;" value="Submit" />
}

<div>
    @Html.ActionLink("Back to Jobs List", "Index", new { companyId = @ViewBag.CompanyId })
</div>


@section scripts
    {
    <script>
        $(document).ready(registerEvents);
        $("#formCreateJob").submit(convertToFormData);
    </script>
}
