@using CareerCloud.UI.MVC.Models
@model CompanyJobDetailsVM

@{
    ViewBag.Title = "Create Job";
}

<style>
    a.no-link {
        text-decoration: none;
    }
</style>

<h2>Create Job</h2>
<h4>Company: @ViewBag.CompanyName</h4>

<hr />
@using (Html.BeginForm("Create", "CompanyJob", FormMethod.Post, new { @class = "form-horizontal", @id = "formCreateJob" }))
{
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="form-group">
        @Html.LabelFor(model => model.JobName, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.JobName, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.JobName, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.JobDescription, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextAreaFor(model => model.JobDescription, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.JobDescription, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.IsInactive, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <div class="checkbox">
                @Html.EditorFor(model => model.IsInactive)
                @Html.ValidationMessageFor(model => model.IsInactive, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.IsCompanyHidden, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <div class="checkbox">
                @Html.EditorFor(model => model.IsCompanyHidden)
                @Html.ValidationMessageFor(model => model.IsCompanyHidden, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <br />
    @Html.Partial("~/Views/Shared/_CreateJobSkills.cshtml", new List<CompanyJobSkillVM>())
    <br />
    @Html.Partial("~/Views/Shared/_CreateJobEducation.cshtml", new List<CompanyJobEducationVM>())
    <br />
    <br />
    <input id="@Html.DisplayNameFor(model=>model.Company)" name="@Html.DisplayNameFor(model=>model.Company)" type="hidden" value="@ViewBag.CompanyId" />
    <input class="btn btn-primary" type="submit" onsubmit="return false;" value="Submit" />
}

<br />
<div>
    <b>@Html.ActionLink("Back to Jobs List", "Index", new { companyId = @ViewBag.CompanyId })</b>
</div>


@section scripts
    {
    <script>
        $(document).ready(registerEvents);
        $("#formCreateJob").submit(convertToFormData);
    </script>
}
